<ion-header>
    <ion-toolbar>
        <ion-title>Liste des entreprises</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addClient()" title="Ajouter un client">
            <ion-icon c name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-searchbar (ionChange)="listenInput(inputSearch)" [(ngModel)]="inputSearch" placeholder="Rechercher"></ion-searchbar>
    <ion-list>
        <ion-item *ngFor="let item of data">
            {{item.nom}}
            <ion-fab-button mini color="dark" title="Voir les informations de l'entreprise" (click)="moreinfo(item)" slot="end">
                <ion-icon c name="information-circle"></ion-icon>
            </ion-fab-button>
            <ion-fab-button mini color="success" title="Ajouter une vente" (click)="addVente(item)" slot="end">
                <ion-icon c name="bag-add"></ion-icon>
            </ion-fab-button>
            <!--
                A faire : 
                - Ajouter un menu déroulant contenant les ventes selon l'entreprise
            -->
        </ion-item>
    </ion-list>
</ion-content>